.container {
    display: flex;
    height: 100vh; 
  }
  
  .left-menu {
    width: 30px; 
    background-color: #f0f0f0; 
  }
  
  .left-menu ul {
    list-style-type: none;
    padding: 5px;
    margin-right:5px;
  }
  
  .left-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1; 
    overflow-y: auto; 
  }
  